[Desktop Entry]
Name=Artify
Comment=Ideas, Painting & Art.
Exec=artify
Icon=${SNAP}/meta/gui/artify.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
